{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
    <body class="home">
        <!-- Color Bars (above header)-->
        <div class="color-bar-1"></div>
        <div class="color-bar-2 color-bg"></div>
        <div class="container">
            {% include topnav.html %}
            {{ content }}
        </div>
        <!-- Scroll to Top -->  
        <div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>
        {% include footer.html %}
	{% include after_footer.html %}
    </body>
</html>
